.idea/
.vs/
.vscode/
.DS_Store
bin/
build/
out/
cmake-build-debug/

Makefile

CMakeSettings.json
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
_deps/
install_manifest.txt